

  <div class="field">
    <%= text_field_tag "requirements[][name]" %>
  </div>
  <div class="field">
    <%= text_field_tag "requirements[][level]" %>
  </div>
  <div class="field">
    <%= text_field_tag "requirements[][importance]" %>
  </div>
