<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td>
<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0" bgcolor="#000000" style="border: 5px solid #000000; ">
	<tbody><tr>
		<td valign="top" style="border-style: solid; border-width: 1px" bordercolor="#000000">
		<table border="1" width="100%" id="table2" cellspacing="5" cellpadding="5" bgcolor="#FFFFFF" bordercolorlight="#000000" bordercolordark="#000000">
			<tbody><tr>
				<td background="https://freeauctiondesigns.com/ebay/templates/comic_book/background.gif" bgcolor="#FFFFFF">
				<table border="0" width="100%" cellspacing="30" cellpadding="30">
					<tbody><tr>
						<td>
<div align="center">
<table bordercolor="black" cellspacing="1" cellpadding="0" width="90%" bgcolor="#2B1C1C" border="2" id="table745" style="border-style: solid; border-width: 4px">
						<tbody><tr>
							<td bgcolor="white" valign="top">
							<table border="0" width="100%" cellspacing="5" cellpadding="5">
								<tbody><tr>
									<td>
									<p align="center">


<!--BODY-->

</p><center><div id="templatetitle" class="tempwidget">YOUR TITLE HERE - Comic Book eBay Template</div></center>

<!--IMAGES-->


<center><div id="templatedesc" class="tempwidget"><img src="https://freeauctiondesigns.com/ebay/templates/comic_book/description.gif" border="0"><br><b>Free Comic Book eBay Templates</b><br>FreeAuctionDesigns.com provides a large selection of high quality <strong>Comic Book Auction Templates</strong> for your ad listings. Use our easy auction listing create service to quickly create <strong>Comic Book Auction Designs</strong> Plus, we host your auction listing images &amp; pics free! Simply choose the <strong>Comic Book Listing Template</strong> you would like to use and click the Create button or click the Favorite button to add the template design to your favorites for quick recall later.</div></center>


<center><div id="templateship" class="tempwidget"><img src="https://freeauctiondesigns.com/ebay/templates/comic_book/shipping.gif" border="0"><br>Example eBay Template Shipping Info - We have many pre-made shipping text to choose from or create, edit and save your own.</div></center>


<center><div id="templateship" class="tempwidget"><img src="https://freeauctiondesigns.com/ebay/templates/comic_book/payment.gif" border="0"> <br>Example Auction Template Payment Info - We have many pre-made payment text to choose from or create, edit and save your own.</div></center>


<center><div id="templatefoot" class="tempwidget"><img src="https://freeauctiondesigns.com/ebay/templates/comic_book/haveaniceday.gif" border="0"></div></center>

<!--BODY END-->


									</td>
								</tr>
							</tbody></table>
							</td>
						</tr>
					</tbody></table>
						</div>
						</td>
					</tr>
				</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
	</tr>
</tbody></table>
		</td>
		</tr>
		<tr>
			<td>
		<table border="0" width="100%" cellspacing="5" cellpadding="5">
			<tbody><tr>
				<td>
				<p align="center">

</p><center><img src="https://freeauctiondesigns.com/adbutton.png" alt="Free eBay Templates, Image Hosting and eBay Listing Tools" border="0"><br><font size="3"><b>FreeAuctionDesigns</b><br><a href="https://freeauctiondesigns.com" target="_blank">Free eBay Templates, Image Hosting and eBay Listing Tools!</a></font></center>
				</td>
			</tr>
		</tbody></table>
			</td>
		</tr>
	</tbody></table></td>
	</tr>
</tbody></table>
