<div class="card">
      <div class="header">
          <h4 class="title">Location</h4>
      </div>
      <div class="content table-responsive table-full-width">
          <table class="table table-striped">
              <thead>
                  <tr>
                  	<th>Experience</th>
                  	<th>Min Years Experience</th>
                    <th>Remove</th>
                  </tr>
              </thead>
              <tbody>
              <% @requirements.where(:requirement_type => "Location").each do |requirement| %>
                  <tr>
                  	<td><%= requirement.name %></td>
                  	<td><%= requirement.level %></td>
                    <!-- <td><%= link_to 'remove', requirement(:job_id => @job.id), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                  </tr>
                <% end %>
              </tbody>
          </table>

                            </div>
                        </div>
