<table>

  <tr>
    <th>Name</th>
    <th>Avg Price ( Refresh for lastest)</th>
      <th>Avg Price ( Refresh for lastest)</th>
        <th>Avg Price ( Refresh for lastest)</th>

  </tr>
  <%= @coinmarketcap %>
  <!-- <tr>


  </tr> -->
</table>
  <%= @coinmarketcap%>
